<!-- Affiche des détails sur un topic -->
{% extends "layout.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="../css/charts.css">
{% endblock %}

{% block pagebody %}

<div class="ui grid">
    <div class="row">
        <div class="four wide column">
            {% include "topic_related_words.html.twig" with topic=topic %}
        </div>

        <div class="twelve wide column">
            <h3 class="ui blue inverted top attached segment">Évolution du topic dans le temps</h3>
            <div class="ui attached segment" id="history_graph"></div>
        </div>
    </div>
</div>

<h2 class="ui header">Documents en lien avec le topic</h2>
<div class="ui red segment">
    <div class="ui selection list">
        {% for document in related_documents %}
        <div class="item">
            <h4 class="ui header" href="/articles/{{ document.id }}">{{ document.titre }}
                <h5 class="sub header">Par {{ document.auteur }}, {{ document.date|date:'m-Y'}}</h5>
            </h4>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}	

{% block scripts %}
<script src='../javascript/line_chart.js'></script>
<script>
    var chart = lineChart({{ topic_history|safe }});
    d3.select("#history_graph").call(chart);

    $(function() {
        $('.curvepoints').mouseenter(function() {
            var point = $(this);
            $.get('/gerardmajax/curvepointstooltip', {
                    id: {{ topic.id }},
                    year: d3.select(this).datum().date.getFullYear()
                },
                function(data) {
                    point
                    .attr('data-html', data)
                    .popup('show');
                }
            );
        });
    });
</script>
{% endblock %}
    
